<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.autoremoteexample.polio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--<supports-screens android:xlargeScreens="true" />-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- GPS Permission -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FieldOptionMenu" />
        <activity android:name=".LabOptionMenu" />
        <activity android:name=".RecordTempLab" />
        <activity android:name=".FinalActivityLab" />
        <activity android:name=".RecordingSecondryConsentration" />
        <activity android:name=".FinalRecoveredElutedLab" />
        <activity android:name=".StartingElutionLab" />
        <activity android:name=".RecievedInLab" />
        <activity android:name=".SamplePreparation" />
        <activity android:name=".StartingSettelingField" />
        <activity android:name=".StartingFiltrationField" />
        <activity android:name=".EndingFiltrationField" />
        <activity android:name=".ShippingField" />
        <activity android:name=".FinalActivityField" />
    </application>

</manifest>